# Ignore all dataset folders
# (MovieLens and other large data)
data/movielens/
data/ml-1m/
data/ml-latest-small/
data/ml-latest/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Packaging
knowledge_graph.egg-info/

# Large CSVs and logs
advance_*.csv
llm_raw_triples_log.csv
mistral_*.csv
golden_kg_triples*.csv
KG_evaluation/*.csv
*.log

# Neo4j database files and logs
data/neo4j/
data/logs/

# Remove scripts not to be uploaded
scripts/download_movielens.py
scripts/pdf_analyzer.py

# Misc
*.DS_Store 